#navBar{
    background-color: #1976d2;
    color: white;
}
.navbar-brand{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.navbar-brand:hover{
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    color: transparent;
}
#navbarSupportedContent{
    justify-content: flex-end;
}
.nav-item a{
    color: white;
    font-weight: bold;
}
.navbar-nav li{
    margin-left: 10px;
}
.navbar-toggler{
    background-color: transparent;
    color: white;
}
.navbar-toggler-icon{
    color: white;
    
}