<div class="loginPage">
    <!-- <button class="close-modal" (click)="closeForm()">&times;</button> -->
    <form class="loginForm">
        <h2>Admin Login</h2>
        <hr>
        <label for="exampleInputEmail1" class="form-label">Enter Your Username</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter Username">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone.</div>

        <label for="inputPassword5" class="form-label">Enter Your Password</label>
        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
            placeholder="Enter Password">
        <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long.
        </div>

        <button class="btn btn-primary mt-3">Login</button>
        <p>Forgotten Password</p>
    </form>
</div>
<!-- <div class="overlay" [hidden]="!onClickCheck"></div> -->