<!-- <app-header (featureSelected)="onNavigate($event)" (btnSelected)="onBtnSelecte()"></app-header>
<app-home *ngIf="loadedFeature === 'home'"></app-home>
<div class="container">
  <div class="row">
    <app-examination *ngIf="loadedFeature === 'examination'"></app-examination>
    <app-about-us *ngIf="loadedFeature === 'about-us'"></app-about-us>
    <app-login [onClickCheck]="userSelected"></app-login>
  </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light" id="navBar">
  <div class="container">
    <a class="navbar-brand" href="#">Eureka Online</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="student">Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="examination">Examination</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>